<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입 폼</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원 가입</h4>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userSignupForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <!-- 사용자 ID -->
        <div class="mb-3">
            <label for="name" class="form-label">사용자 ID</label>
            <input type="text" th:field="*{name}" class="form-control"/>
        </div>

        <!-- 사용자 비밀번호 -->
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control">
        </div>

        <!-- 사용자 비밀번호 확인 -->
        <div class="mb-3">
            <label for="checkPassword" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{checkPassword}" class="form-control">
        </div>

        <!-- 사용자 이메일 -->
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">회원 가입</button>
    </form>
</div>
</body>
</html>